.swiper {
  width:80vw;
  margin: 78px 148px 0px 148px;
}

.swiper_slide {
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width:950px) {
  .swiper {
    width:90vw;
    margin: 280px 85px 0px 85px;
  }
}

@media screen and (max-width:500px) {
  .swiper {
    width:90vw;
    margin: 140px 21px 0px 21px;
  }
}



