#wrapper img {
    width: 406px;
    height: 235px;
    object-fit: cover;
  }
  #outer {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 406px;
    object-fit: cover;
    height: 235px;
    visibility: hidden;
    opacity: 0;
  }
  
  #inner {
    width: 406px;
    object-fit: cover;
    height: 235px;
    visibility: hidden;
    opacity: 0;
  }
  
  #top {
    width: 406px;
    object-fit: cover;
    height: 235px;
  }