.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* File: font.css */
@font-face {
  font-family: 'Bossa-Black';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-Black.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-ExtendedBlack';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-ExtendedBlack.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-Bold';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-Bold.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-ExtendedBold';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-ExtendedBold.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-Light';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-Light.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-ExtendedLight';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-ExtendedLight.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-Medium';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-Medium.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-ExtendedMedium';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-ExtendedMedium.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-Regular';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-Regular.woff') format(woff)
}

@font-face {
  font-family: 'Bossa-ExtendedRegular';
  src: local('Bossa'),
  url('./assets/fonts/Og/Bossa-ExtendedRegular.woff') format(woff)
}