.heading{
    font-weight: 700;
    color: black;
    text-align: center;
}

.text1{
    font-family: Bossa-ExtendedBold;
    font-size: 40px;
    color: black;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
}

.text2{
    font-family: Bossa-ExtendedBold;
    color: #00D2AA;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
}

.desc{
    font-family: Bossa-Light;
    color: #747272;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    line-height: 24px;
}

hr{
    width: 100%;
    border: 1px solid black;
    margin-top: 51px;
}


@media only screen and (min-width: 370px) {
    .text1{
        font-size: 24px;
    }
    .text2{
        font-size: 18px;
    }
    .desc{
        font-size: 12px;
        line-height: 18px;
        color: black;
    }
}

@media only screen and (min-width: 480px) {
    .text1{
        font-size: 24px;
    }
    .text2{
        font-size: 18px;
    }
    .desc{
        font-size: 12px;
        line-height: 18px;
        color: black;
    }
}

@media only screen and (min-width: 760px) {
    .text1{
        font-size: 24px;
    }
    .text2{
        font-size: 18px;
    }
    .desc{
        font-size: 12px;
        line-height: 18px;
        color: black;
    }
}


@media only screen and (min-width: 990px) {
    .text1{
        font-size: 26px;
    }
    .text2{
        font-size: 20px;
    }
    .desc{
        font-size: 12px;
        line-height: 18px;
        color: black;
    }
}

@media only screen and (min-width: 1280px) {
    .text1{
        font-size: 33px;
    }
    .text2{
        font-size: 25px;
    }
    .desc{
        font-size: 15px;
        color: black;
    }
}